<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editando</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Editando Campus Uff
      </div>

        <%= render 'form', campus_uff: @campus_uff %>

    </div>
  </div>
</div>

<%= link_to 'Voltar', campus_uffs_path, class:"btn btn-primary" %> 
